*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "roboto";
}

nav * {
    display: inline;
}

body{
    background: linear-gradient(to right top ,white,black);
}
.img{
    width: 6; 
    height: 1;
 }
